.wrapper {
    width: 320px;
    padding: 8px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.follow-btn {
    padding: 6px 16px;
}

.body {
    margin-top: 12px;
}
.nickname {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
}
.check {
    margin-left: 6px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.analytics {
    margin-top: 10px;
    font-size: 1.8rem;
}

.username {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    font-size: 1.6rem;
}
